<section class="photoAndMessage" id="photoAndMessage">
  <div id="backgroundImage">
  <div class="video-background-overlay"></div>
  </div>

  <div id="introductions">
    <h1><%= t(:hello) %></h1>
    <p><%= t(:skills) %></p>
    <p>
      <%= t(:read_more_in) %> <a href="/blog"><%= t(:my_blog) %></a> <%= t(:checkout) %><a href="/projects"> <%= t(:recent_projects) %></a>.
      <!-- <a target="_blank" href="/projects"></a>. -->
      <%= t(:more_about_me) %> <a href="/about"><%= t(:here) %></a>.
    </p>
  </div>
  <!-- <div class="video-background-overlay"></div> -->
</section>

