---
title: "Nicolas Dotto | Articles from "
pageable: true
per_page: 12
blog: fr
lang: fr
---

<% I18n.locale = articles.first.lang %>

<% case page_type
   when 'day' %>
      <% date = Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
      <% date = Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
      <% date = year %>
<% end %>
<% @title = date %>

<section class="article-listing">
  <h1>Archive pour
    <% case page_type
       when 'day' %>
      <%= Date.new(year, month, day).strftime('%b %e %Y') %>
    <% when 'month' %>
      <%= Date.new(year, month, 1).strftime('%b %Y') %>
    <% when 'year' %>
      <%= year %>
    <% end %>
  </h1>
  <% page_articles.each_with_index do |article, i| %>
    <div class="article-post">
      <h4 class="article-date"><%= article.date.strftime('%b %e') %></h4>
      <% if article.data['category'] != nil %>
      <h4 class="article-category">| <%= link_to t(article.data['category']), category_path(article.data['category']) %></h4>
      <% end %>
      <h2 class="article-title"><%= link_to article.title, article %></h2>
      <% if article.data['summary'] != nil %>
        <p class="article-summary"><%= article.data['summary'] %></p>
        <%= link_to 'Read', article, class: 'read-more' %>
      <% end %>
    </div>
  <% end %>
</section>

<%= partial("partials/pagination/pagination_refills_for_calendar") %>

