<%= t(:read_more_in) %> <a href="/blog"><%= t(:my_blog) %></a> <%= t(:checkout) %><a href="/projects"> <%= t(:recent_projects) %></a>.
<!-- <a target="_blank" href="/projects"></a>. -->
<%= t(:more_about_me) %> <a href="/about"><%= t(:here) %></a>.
