<section class="features" id="objectives">
  <div class="container">

    <div class="title">
      <h2>The Prize</h2>
      <hr class="small">
      <p><%= t(:ambitions) %></p>
    </div>

    <div class="wrapper-for-inline">
      <div class="floatright-for-inline">
        <img class="profile-picture" src="/images/pic323541.jpeg">
      </div>
      <div class="padd-inline"><h4><%= t(:junior) %></h4></div>
      <h1><%= t(:action_plan) %></h1>
      <p> <%= t(:after_1) %></p>
      <p> <%= t(:after_2_a) %> <a href="https://www.coursera.org/learn/algorithms-part1">Algorithms, Princeton University</a>) <%= t(:after_2_b) %> <a href="https://www.codewars.com/">codewars</a>, <a href="https://www.hackerrank.com/">hackerrank</a>, <a href="https://coderbyte.com/">coderbyte</a>, etc.</p>
    </div>

  </div>
</section>



