<section class="features" id="experience">
  <div class="container">

    <div class="title">
      <h2><%= t(:previous_career) %></h2>
      <hr class="small">
      <p><%= t(:three_xp) %></p>
    </div>

    <ul class="bullets">
      <li class="bullet">
        <div class="bullet-icon bullet-icon-1">
          <img src="/images/bnpparibas.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>BNP Paribas</h2>
          <p><%= t(:bnpp_job) %></p>
          <p><%= t(:bnpp_xp) %></p>
        </div>
      </li>
      <li class="bullet">
        <div class="bullet-icon bullet-icon-2">
          <img src="/images/hsbc-squarelogo.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>HSBC</h2>
          <p><%= t(:hsbc_job) %></p>
          <p><%= t(:hsbc_xp) %></p>
        </div>
      </li>
      <li class="bullet">
        <div class="bullet-icon bullet-icon-3">
          <img src="/images/close-brothers-squarelogo.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>Close Brothers</h2>
          <p><%= t(:cb_job) %></p>
          <p><%= t(:cb_xp) %></p>
        </div>
      </li>
    </ul>

  </div>
</section>
