<section class="features" id="section-projects">
  <div class="container">

    <div class="title">
      <h2><%= t(:first_apps)%></h2>
      <hr class="small">
      <p><%= t(:hard)%></p>
    </div>

    <div class="cards">
      <div class="card">
        <label for="modal-8">
          <div class="card-image">
  <!--         <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt=""> -->
            <img src="/images/xyz.png" alt="">
          </div>
        </label>
        <input class="modal-state" id="modal-8" type="checkbox" />
        <div class="modal-fade-screen">
          <div class="modal-inner">
            <div class="modal-close" for="modal-8"></div>
            <h1>My Personal Website</h1>
            <div class="modal-content">
              <p>I learned tremendously from building this website. First I had to go through nearly every important concept of web design: grids, positioning and z-index, opacity/visibility, background images, responsive design and typography, float & flexbox layouts, and the list goes on.</p>
              <p>Second, I add to think about and implement my own JavaScript to build vanilla modals, customized navigation and scrolling behaviour. I also needed to understand how to fit third-party JS plugins into my website for functions such as searching.</p>
            </div>
          </div>
        </div>
        <div class="card-header">
          <%= t(:app_1) %>
        </div>
        <div class="card-copy">
          <p>I needed to build a simple but appealing, easy navigation and fully-detailed personal website for me to explain to the world where I am coming from, what I want to achieve and how I will do it.</p>
          <p>This website must now be the starting point for everything: it has helped me to think thoroughly through my career choice, what I have learned so far and how to build on it and it will keep track of what I will build in the future.</p>
        </div>
      </div>

      <div class="card">
        <label for="modal-9">
          <div class="card-image">
<!--           <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt=""> -->
            <img src="/images/xyzblog.png" alt="">
          </div>
        </label>
        <input class="modal-state" id="modal-9" type="checkbox" />
        <div class="modal-fade-screen">
          <div class="modal-inner">
            <div class="modal-close" for="modal-9"></div>
            <h1>My Blog</h1>
            <div class="modal-content">
              <p>My Blog: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla.</p>
              <p>My Blog: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla.</p>
            </div>
          </div>
        </div>
        <div class="card-header">
          <%= t(:app_2) %>
        </div>
        <div class="card-copy">
          <p>I also needed to build a blog and I wanted it to be bilingual. It was a first good approach to understand how to collect and manipulate post-related data outside Rails+PostgreSQL standard framework.</p>
          <p>Building a blog is a must if you are serious about being a web developer. I intend to write posts regularly and to be able to keep up pace with building apps, learning new things and writing about them at the same time. </p>
        </div>
      </div>

      <div class="card">
        <label for="modal-10">
          <div class="card-image">
<!--           <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt=""> -->
            <img src="/images/livsty.png" alt="">
          </div>
        </label>
        <input class="modal-state" id="modal-10" type="checkbox" />
        <div class="modal-fade-screen">
          <div class="modal-inner">
            <div class="modal-close" for="modal-10"></div>
            <h1>Real app</h1>
            <div class="modal-content">
              <p>Real app: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
            </div>
          </div>
        </div>
        <div class="card-header">
          <%= t(:app_3) %>
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>

  </div>
</section>
