<section class="features" id="section-cv">
  <div class="container">

    <div class="title">
      <h2><%= t(:full_picture) %></h2>
      <hr class="small">
      <p><%= t(:here_it_is) %></p>
    </div>

    <div class="grid-items">
    <!-- programmer -->
      <!-- <a href="javascript:void(0)" class="grid-item"> -->
      <label for="modal-1" class="grid-item grid-item-image grid-item-image-code">
        <img src="/images/linkedin.jpg" alt="">
        <div class="blurred-area">
          <div class="blur"></div>
          <div class="text-on-blur">
            <h1><%= t(:cv_code_title) %></h1>
            <!-- <p>to become a pro</p> -->
          </div>
        </div>
      </label>
      <!-- </a> -->
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-1"></div>
          <h1 style="text-transform: none;">Livsty – redefining the viager system in France</h1>
          <div class="modal-content">
            <p>I have been learning more and more about Ruby on Rails coding a startup project. The final product is a platform where investors can buy shares in advertised properties reversing the cash-flow structure of the viager system in France. Early version: <a target="_blank" href="http://livsty.fr/">Livsty.fr</a> (currently discussing with potential investors).</p>
            <p>To kick-start my projects I learned Ruby on Rails, HTML, CSS, SQL & JavaScript at <a class="link-to" href="http://www.lewagon.org/en" target="_blank"> <img class="lewagon-picture" src="/images/le_wagon.png" alt="Le Wagon"></a>'s leading coding bootcamp.</p>
            <div class="modal-inner-content">
              <h1><%= t(:cv_code_job_title) %></h1>
              <p class="modal-intro"><%= t(:cv_code_job_function) %></p>
              <ul>
                <li><b><i>Back-end development:</i></b> <%= t(:cv_cb_code_task1) %></li>
                <br>
                <li><b><i>Front-end development:</i></b> <%= t(:cv_cb_code_task2) %></li>
                <br>
                <li><b><i>Rails:</i></b> <%= t(:cv_cb_code_task3) %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- programmer -->

      <!-- credit analyst -->
      <label for="modal-2" class="grid-item grid-item-big grid-item-image grid-item-image-cb">
        <img src="/images/close-brothers-squarelogo.png" alt="">
        <div class="blurred-area">
          <div class="blur"></div>
          <div class="text-on-blur">
            <h1><%= t(:cv_cb_title) %></h1>
            <p><%= t(:cv_cb_field) %></p>
          </div>
        </div>
      </label>
      <input class="modal-state" id="modal-2" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-2"></div>
          <span><i class="fa fa-calendar"></i> <%= t(:cv_cb_cal) %></span>
          <div class="modal-inner-content">
            <h1><%= t(:cv_cb_job_title) %></h1>
            <p class="modal-intro"><%= t(:cv_cb_job_function) %></p>
            <ul>
              <li><%= t(:cv_cb_job_task1) %></li>
              <br>
              <li><%= t(:cv_cb_job_task2) %></li>
              <br>
              <li><%= t(:cv_cb_job_task3) %></li>
            </ul>
            <p class="modal-content-columns"><%= t(:cv_cb_job_contract) %><br><%= t(:cv_cb_job_comment) %></p>
          </div>
        </div>
      </div>
      <!-- credit analyst -->

      <!-- business analyst -->
      <label for="modal-3" class="grid-item grid-item-half grid-item-image grid-item-image-hsbc">
        <img src="/images/hsbc-squarelogo.png" alt="">
        <div class="blurred-area">
          <div class="blur"></div>
          <div class="text-on-blur">
            <h1><%= t(:cv_hsbc_title) %></h1>
            <p><%= t(:cv_hsbc_field) %></p>
          </div>
        </div>
      </label>
      <input class="modal-state" id="modal-3" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-3"></div>
          <span><i class="fa fa-calendar"></i> <%= t(:cv_hsbc_cal) %></span>
          <div class="modal-inner-content">
            <h1><%= t(:cv_hsbc_job_title) %></h1>
            <p class="modal-intro"><%= t(:cv_hsbc_job_function) %></p>
            <ul>
              <li><%= t(:cv_hsbc_job_task1) %></li>
              <br>
              <li><%= t(:cv_hsbc_job_task2) %></li>
              <br>
              <li><%= t(:cv_hsbc_job_task3) %></li>
            </ul>
            <p class="modal-content-columns"><%= t(:cv_hsbc_job_contract) %><br><%= t(:cv_hsbc_job_comment) %></p>
          </div>
        </div>
      </div>
      <!-- business analyst -->

      <!-- risk analyst -->
      <label for="modal-4" class="grid-item grid-item-half grid-item-image grid-item-image-bnp">
        <img src="/images/bnpparibas.png" alt="">
        <div class="blurred-area">
          <div class="blur"></div>
          <div class="text-on-blur">
            <h1><%= t(:cv_bnpp_title) %></h1>
            <p><%= t(:cv_bnpp_field) %></p>
          </div>
        </div>
      </label>
      <input class="modal-state" id="modal-4" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-4"></div>
          <span><i class="fa fa-calendar"></i> <%= t(:cv_bnpp_cal) %></span>
          <div class="modal-inner-content">
            <h1><%= t(:cv_bnpp_job_title) %></h1>
            <p class="modal-intro"><%= t(:cv_bnpp_job_function) %></p>
            <ul>
              <li><%= t(:cv_bnpp_job_task1) %></li>
              <br>
              <li><%= t(:cv_bnpp_job_task2) %></li>
              <br>
              <li><%= t(:cv_bnpp_job_task3) %></li>
            </ul>
            <p class="modal-content-columns"><%= t(:cv_bnpp_job_contract) %><br><%= t(:cv_bnpp_job_comment) %></p>
          </div>
        </div>
      </div>
      <!-- risk analyst -->

      <!-- sell-side analyst -->
      <label for="modal-5" class="grid-item grid-item-image grid-item-image-sg">
        <img src="/images/sg.png" alt="">
        <div class="blurred-area">
          <div class="blur"></div>
          <div class="text-on-blur">
            <h1><%= t(:cv_sg_title) %></h1>
            <p><%= t(:cv_sg_field) %></p>
          </div>
        </div>
      </label>
      <input class="modal-state" id="modal-5" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-5"></div>
          <span><i class="fa fa-calendar"></i> <%= t(:cv_sg_cal) %></span>
          <div class="modal-inner-content">
            <h1><%= t(:cv_sg_job_title) %></h1>
            <p class="modal-intro"><%= t(:cv_sg_job_function) %></p>
            <ul>
              <li><%= t(:cv_sg_job_task1) %></li>
              <br>
              <li><%= t(:cv_sg_job_task2) %></li>
              <br>
              <li><%= t(:cv_sg_job_task3) %></li>
            </ul>
            <p class="modal-content-columns"><%= t(:cv_sg_job_contract) %><br><%= t(:cv_sg_job_comment) %></p>
          </div>
        </div>
      </div>
      <!-- sell-side analyst -->

      <!-- masters -->
      <label for="modal-6" class="grid-item grid-item-image grid-item-image-dauphine">
        <img src="/images/dauphine.png" alt="">
        <div class="blurred-area">
          <div class="blur"></div>
          <div class="text-on-blur">
            <h1>Master's Degree</h1>
            <p>Dauphine</p>
          </div>
        </div>
      </label>
      <input class="modal-state" id="modal-6" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-6"></div>
          <span><i class="fa fa-calendar"></i> <%= t(:cv_dauphine_cal) %></span>
          <div class="modal-inner-content">
            <h1><%= t(:cv_dauphine_job_title) %></h1>
            <h4><%= t(:cv_dauphine_job_uni) %></h4>
            <p class="modal-intro"><%= t(:cv_dauphine_job_function) %></p>
            <ul>
              <li><%= t(:cv_dauphine_job_task1) %></li>
              <br>
              <li><%= t(:cv_dauphine_job_task2) %></li>
              <br>
              <li><%= t(:cv_dauphine_job_task3) %></li>
            </ul>
            <p class="modal-content-columns"><%= t(:cv_dauphine_job_contract) %><br><%= t(:cv_dauphine_job_comment) %></p>
          </div>
        </div>
      </div>
      <!-- masters -->

      <!-- undergraduate -->
      <label for="modal-7" class="grid-item grid-item-image grid-item-image-lsbu">
        <img src="/images/lsbu.png" alt="">
        <div class="blurred-area">
          <div class="blur"></div>
          <div class="text-on-blur">
            <h1>Bachelor of Arts</h1>
            <p>LSBU</p>
          </div>
        </div>
      </label>
      <input class="modal-state" id="modal-7" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-7"></div>
          <span><i class="fa fa-calendar"></i> <%= t(:cv_lsbu_cal) %></span>
          <div class="modal-inner-content">
            <h1><%= t(:cv_lsbu_job_title) %></h1>
            <h4><%= t(:cv_lsbu_job_uni) %></h4>
            <p class="modal-intro"><%= t(:cv_lsbu_job_function) %></p>
            <ul>
              <li><%= t(:cv_lsbu_job_task1) %></li>
              <br>
              <li><%= t(:cv_lsbu_job_task2) %></li>
              <br>
              <li><%= t(:cv_lsbu_job_task3) %></li>
            </ul>
            <p class="modal-content-columns"><%= t(:cv_lsbu_job_contract) %><br><%= t(:cv_lsbu_job_comment) %></p>
          </div>
        </div>
      </div>
      <!-- undergraduate -->


    </div>

  </div>
</section>

