<section class="features" id="section-features">
  <div class="container">

    <div class="title">
      <h2><%= t(:reasons) %></h2>
      <hr class="small">
      <p><%= t(:onboard) %></p>
    </div>

    <div class="feature-items">

      <div class="feature-item">
        <i class="fa fa-heart"></i>
        <h4><%= t(:passion_call) %></h4>
        <p><%= t(:passion_for_code) %></p>
      </div>

      <div class="feature-item">
        <i class="fa fa-bolt"></i>
        <h4><%= t(:motivation) %></h4>
        <p><%= t(:motivation_for_code) %></p>
      </div>

      <div class="feature-item">
        <i class="fa fa-child"></i>
        <h4><%= t(:experience_banks) %></h4>
        <p><%= t(:experience_qualities) %></p>
      </div>

      <div class="feature-item">
        <i class="fa fa-css3"></i>
        <h4><%= t(:practice) %></h4>
        <p><%= t(:practice_qualities) %></p>
      </div>

      <div class="feature-item">
        <i class="fa fa-cogs"></i>
        <h4><%= t(:cog) %></h4>
        <p><%= t(:cog_qualities) %></p>
      </div>

      <div class="feature-item">
        <i class="fa fa-sitemap"></i>
        <h4><%= t(:geek) %></h4>
        <p><%= t(:geek_qualities) %></p>
      </div>

    </div>

  </div>
</section>
