<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Cabin+Condensed:400,700|Patua+One|Pacifico"
    />
    <%= stylesheet_link_tag "style-flex-table" %>
    <link rel="icon" type="image/gif" href="/images/logo.gif" />
    <title>Read Article</title>
  </head>
  <body>
    <%= partial "partials-blog-table/navbar" %>
    <%= partial "partials-blog-table/menu" %>
    <main id="main">
      <%= partial "partials-blog-table/avatar" %>
      <section id="article">
        <article>
          <div class="col col-content">
            <h1><%= current_article.title %></h1>
            <%= yield %>
          </div>
          <div class="col col-sidebar">
            <%= partial "partials-blog-table/aside-article" %>
          </div>
        </article>
      </section>
    </main>
    <section id="pagination-previous-next">
      <% if current_article.article_previous %>
      <span class="hide-m">
        Previous <i class="icon-backward2 hide-m"></i>
        <%= link_to truncate(current_article.article_previous.title, length: 30), current_article.article_previous, class: "btn" %>
      </span>
      <% end %>
      <% if current_article.article_next %>
      <span class="hide-m">
        <%= link_to truncate(current_article.article_next.title, length: 30), current_article.article_next, class: "btn"%>
        <i class="icon-forward3 hide-m"></i> Next
      </span>
      <% end %>
    </section>

  </body>
</html>
