---
title: Nicolas Dotto Python Developer - Business Analyst
blog: en
lang: en
---

<%= partial "partials/navbars/animated-navbar" %>

<div id="bodyBg"></div>
<div class="container-contact" id="body-contact">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div id="intro-contact">
        <div class="row">
          <div class="col-lg-6 col-lg-push-3 col-xs-10 col-xs-push-1">
            <div class="block text-center">
              <div class="top-bar-contact"></div>
              <div class="inline blink text-left">
                <h1><%= t(:thanks_reading) %></h1>
                <p><%= t(:please_contact) %></p>
                <!-- <p>Messages sent through this contact form go directly into my inbox.</p> -->
                <p><%= t(:to_inbox) %></p>
                <p><%= t(:contact_way) %><span>|</span></p>
              </div>
              <div class="bottom-bar-contact"></div>
              <% if I18n.locale == I18n.default_locale %>
                <%= partial "partials/contact/form" %>
              <% else %>
                <%= partial "partials/contact/form-fr" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
