---
title: Nicolas Dotto freelance web developer based in London
blog: fr
lang: fr
---

<section class="intro">
  <div class="box">
    <div class="brand">
      <div class="brand-logo">
        <% link_to 'http://www.nicolasdotto.com', :id => 'logo', :class => 'js-menu-trigger sliding-panel-button' do %>
            <%= image_tag 'logo.png' %>
        <% end %>
        <h1 id="name">Nicolas Dotto</h1>
      </div>
        <h2 id="tagline">London-based freelance web developer</h2>
        <a href="" class="big-link" id="menu-button">
         <img src="/images/menu-white.png" class="js-menu-trigger sliding-panel-button" alt="">
        </a>
    </div>
</section>

<nav class="js-menu sliding-panel-content">
  <ul>
    <li><a href="/fr/blog">Blog</a></li>
    <li><a href="#contact-me">Contact</a></li>
    <li><a href="/fr/about">Profil</a></li>
    <li><a href="/fr/search">Chercher</a></li>
    <li><a href="/">Switch to English</a></li>
  </ul>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>
<section class="photoAndMessage">
  <div id="backgroundImage">
  </div>

  <div id="introductions">
    <h1><%= t(:hello) %></h1>
    <p><%= t(:skills) %></p>
    <p>
      <%= t(:read_more_in) %> <a href='<%= "/#{I18n.locale}/blog" %>'><%= t(:my_blog) %></a> <%= t(:checkout) %><a href="/fr/projects"> <%= t(:recent_projects) %></a>.
        <!-- <a target="_blank" href="/fr/projects"></a>. -->
      <%= t(:more_about_me) %> <a href="/fr/about"><%= t(:here) %></a>.
    </p>
  </div>
</section>

<section class="recent-posts" id="recent-posts">
  <div class="posts">
    <h1><%= link_to 'Derniers </br>Articles', '/fr/blog/' %></h1>
    <% blog.articles[0...3].each do |article| %>
      <div class="article-post">
          <h4 class="article-date"><%= article.date.strftime('%b %e') %></h4>
          <% if article.data['category'] != nil %>
          <h4 class="article-category">| <%= link_to article.data['category'], category_path(article.data['category']) %></h4>
          <% end %>
          <h2 class="article-title"><%= link_to article.title, article %></h2>
          <% if article.data['summary'] != nil %>
            <p class="article-summary"><%= article.data['summary'] %></p>
            <%= link_to 'Read', article, class: 'read-more' %>
          <% end %>
        </div>
      <% end %>
  </div>
</section>

<section class="contact" id="contact-me">
  <div class="contact-form">
    <form id="contact" action="//formspree.io/connect@nicolasdotto.com" method="POST">
      <h1><%= t(:get_in_touch) %></h1>
        <input type="text" name="name" placeholder="Your name">
        <input type="email" name="_replyto" placeholder="Your email">
        <input type="tel" name="telephone" placeholder="Your phone number">
        <textarea name="message" rows="5" placeholder="Your message"></textarea>
        <button type="submit" value="Send">Send</button>
        <input type="hidden" name="_subject" value="nicolasdotto.com Contact" />
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_next" value='<%= "/#{I18n.locale}/thankyou" %>'/>
    </form>
  </div>
</section>

