---
title: New
blog: en
layout: new-layout
---
<%= partial "partials-new/navigation" %>
<%= partial "partials-new/header" %>
<main>
  <%= partial "partials-new/about" %>
  <%= partial "partials-new/features" %>
  <%= partial "partials-new/projects" %>
  <%= partial "partials-new/messages" %>
  <%= partial "partials-new/contact" %>
</main>
<%= partial "partials-new/footer" %>
