---
title: My portfolio EN
blog: en
layout: portfolio
---

<div class="background-scroll-cover-mobile"></div>
<div class="background-scroll-cover-medium"></div>
<div class="background-scroll-cover-desktop"></div>

<%= partial("partials/navbars/navbar-portfolio")%>

<div class="modal-overlay closed" id="modal-overlay"></div>

<section class="cards-intro" id="portfolio-intro">
  <div class="container">
    <div class="title">
      <h2>Portfolio</h2>
      <hr class="small">
      <p><%= t(:portfolio_intro_title) %> <a href="https://github.com/nicodosw11/" target="_blank">GitHub</a> <%= t(:repository) %> </p>
    </div>
  </div>
</section>

<section class="portfolio-cards">
  <% data.apps.category.each do |category| %>
    <h4 class="line-behind"><%= category.name %></h4>
    <ul class="cards-app">

      <% category.app.each do |app| %>

        <li class="card-app trigger" data-modal-name="<%= app.name %>" data-modal-image="<%= app.image %>" data-modal-description="<%= app.description %>" data-modal-url="<%= app.url %>">
          <!-- <a href="<%= app.url %>"> -->
              <div class="card-image img-container ribbon-box">
                <%= image_tag app.image %>

                <% if app.completion != "done" %>
                  <%= partial("partials/components/ribbon", :locals => { :app => app }) %>
                <% end %>

              </div>
              <div class="card-header">
                <div>
                  <h3><%= app.name %></h3>
                </div>
                <div>
                  <h4><%= app.description %></h4>
                </div>
              </div>
            </div>
            <!-- <div class="card-description"> -->
              <!-- card.description -->
            <!-- </div> -->
          <!-- </a> -->
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
<%= partial("partials/portfolio/modal-portfolio")%>
