---
title: Search
blog: en
layout: search
---

<!-- <div class="background-scroll-cover-mobile"></div>
<div class="background-scroll-cover-medium"></div>
<div class="background-scroll-cover-desktop"></div> -->

<%= partial "partials/navbars/navbar-search" %>

<div class="device-background">
  <div class="device-text">
    <h4><%= t(:search_for) %></h4>
    <p><%= t(:search_comment) %></p>
    <p><input type="text" id="search" placeholder="<%= t(:search_placeholder) %>" width="100%"></p>
    <p id="result-count"><p>
  </div>
  <div class="device">
    <div class="screen"></div>
  </div>
</div>

<figure>
  <div class="list-group searchresults"></div>
  <div id="fallback-search">
    <p><%= t(:no_results) %></p>
  </div>
</figure>



