---
title: Search
blog: en
layout: layout
---
<div class="brand-logo js-menu-trigger sliding-panel-button">
  <% link_to 'http://www.nicolasdotto.com', :id => 'logo' do %>
  <%= image_tag 'logo.png' %>
  <% end %>
</div>
<nav class="js-menu sliding-panel-content">
  <ul>
  <% if I18n.locale == I18n.default_locale %>
    <li><a href="/ ">Home</a></li>
    <li><a href="/#contact-me">Contact</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/fr/blog">Switch to French</a></li>
  <% else %>
    <li><a href="/fr/">Accueil</a></li>
    <li><a href="/fr#contact-me">Me contacter</a></li>
    <li><a href="/fr/about">Profil</a></li>
    <li><a href="/fr/blog">Blog</a></li>
    <li><a href="/blog">Switch to English</a></li>
  <% end %>
  </ul>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>

<div class="device-background">
  <div class="device-text">
    <h4><%= t(:search_for) %></h4>
    <p><%= t(:search_comment) %></p>
    <p><input type="text" id="search" placeholder="<%= t(:search_placeholder) %>" width="100%"></p>
    <p id="result-count"><p>
  </div>
  <div class="device">
    <div class="screen"></div>
  </div>
</div>

<figure>
  <div class="list-group searchresults"></div>
  <div id="fallback-search">
    <p><%= t(:no_results) %></p>
  </div>
</figure>



