---
title: "Nicolas Dotto | Articles Categorized as "
pageable: true
per_page: 2
blog: en
lang: en
---
<% @title = category %>

<section class="article-listing">
  <h1>Articles categorized as <%= category %></h1>
  <% page_articles.each_with_index do |article, i| %>
    <div class="article-post">
      <h4 class="article-date"><%= article.date.strftime('%b %e') %></h4>
      <h2 class="article-title"><%= link_to article.title, article %></h2>
      <% if article.data['summary'] != nil %>
        <p class="article-summary"><%= article.data['summary'] %></p>
        <%= link_to 'Read', article, class: 'read-more' %>
      <% end %>
    </div>
  <% end %>
</section>

<%= partial("partials/pagination/pagination_refills_for_categories") %>
