<header class="nav nav-scroll-down is-hidden">
  <% link_to '/', :id => 'nav-logo', :class => 'logo-button' do %>
    <%= image_tag 'logo.png' %>
  <% end %>
  <% link_to '/', :id => 'nav-logo', :class => 'js-menu-trigger sliding-panel-button' do %>
    <%= image_tag 'logo.png' %>
  <% end %>
  <ul>
    <% if I18n.locale == I18n.default_locale %>

    <li class=<%= "is-active" if page_classes.include? "about" %>><a href="/about"><i class="fa fa-id-card icon-link icon-link-about"><p class="tooltip">about</p></i></a></li>
    <li class=<%= "is-active" if page_classes.include? "portfolio" %>><a href="/portfolio"><i class="fa fa-briefcase icon-link icon-link-portfolio"><p class="tooltip">code</p></i></a></li>
    <li class=<%= "is-active" if page_classes.include? "projects" %>><a href="/projects"><i class="fa fa-code-fork icon-link icon-link-projects"><p class="tooltip">projects</p></i></a></li>
    <li class=<%= "is-active" if page_classes.include? "blog" %>><a href="/blog"><i class="fa fa-rss icon-link icon-link-blog"><p class="tooltip">blog</p></i></a></li>
    <% else %>
    <li class=<%= "is-active" if page_classes.include? "about" %>><a href="/fr/about"><i class="fa fa-id-card icon-link icon-link-about"><p class="tooltip">profil</p></i></a></li>
    <li class=<%= "is-active" if page_classes.include? "portfolio" %>><a href="/fr/portfolio"><i class="fa fa-briefcase icon-link icon-link-portfolio"><p class="tooltip">code</p></i></a></li>
    <li class=<%= "is-active" if page_classes.include? "projects" %>><a href="/fr/projects"><i class="fa fa-code-fork icon-link icon-link-projects"><p class="tooltip">projets</p></i></a></li>
    <li class=<%= "is-active" if page_classes.include? "blog" %>><a href="/fr/blog"><i class="fa fa-rss icon-link icon-link-blog"><p class="tooltip">blog</p></i></a></li>
    <% end %>
    <!-- <li><a href="/blog">Blog</a></li> -->
    <li><a href="/contact"><i class="fa fa-paper-plane icon-link icon-link-contact"><p class="tooltip">contact</p></i></a></li>
    <% if I18n.locale == I18n.default_locale %>
    <li>
      <!-- <a href="/search" class="text-link">Search</a> -->
      <a href="/search"><i class="fa fa-search icon-link icon-link-search"><p class="tooltip">search</p></i></a>
    </li>
    <li>
      <a id="navFra" href="/fr/portfolio" class="language">
        <img id="imgNavFra" src="/images/Frankreich.gif" alt="" class="img-thumbnail icon-small">
        <!-- <span id="lanNavFra">FR</span> -->
      </a>
    </li>
    <% else %>
    <li>
    <!-- <a href="/search" class="text-link">Chercher</a> -->
      <a href="/fr/search"><i class="fa fa-search icon-link icon-link-search"><p class="tooltip">search</p></i></a>
    </li>
    <li>
      <a id="navEng" href="/portfolio" class="language">
        <img id="imgNavEng" src="/images/Grossbritanien.gif" alt="" class="img-thumbnail icon-small">
        <!-- <span id="lanNavFra">FR</span> -->
      </a>
    </li>
    <% end %>
  </ul>
  <!-- responsive mobile only -->
  <ul>
    <% if I18n.locale == I18n.default_locale %>
    <li><a href="/blog" class=""><i class="fa fa-rss icon-link"></i></a></li>
    <% else %>
    <li><a href="/fr/blog" class=""><i class="fa fa-rss icon-link"></i></a></li>
    <% end %>
  </ul>
  <!-- responsive mobile only -->
</header>

<nav class="js-menu sliding-panel-content">
  <ul>
    <% if I18n.locale == I18n.default_locale %>
    <li><a href="/ ">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/fr/portfolio">Switch to French</a></li>
    <% else %>
    <li><a href="/fr/ ">Home</a></li>
    <li><a href="/fr/about">Profil</a></li>
    <li><a href="/fr/portfolio">Code</a></li>
    <li><a href="/fr/projects">Projets</a></li>
    <li><a href="/fr/contact">Me contacter</a></li>
    <li><a href="/fr/blog">Blog</a></li>
    <li><a href="/fr/search">Chercher</a></li>
    <li><a href="/portfolio">Switch to English</a></li>
    <% end %>
  </ul>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>
