---
title: Nicolas Dotto freelance web developer based in London
---

<section class="intro">
  <div class="box">
    <div class="brand">
      <div class="brand-logo">
        <% link_to 'http://www.nicolasdotto.com', :id => 'logo' do %>
            <%= image_tag 'logo.gif' %>
        <% end %>
        <h1 id="name">Nicolas Dotto</h1>
      </div>
        <h2 id="tagline">London-based freelance web developer</h2>
        <a href="#contact" class="big-link" id="contact-button">Contact</a>
    </div>
</section>

<section class="photoAndBlurb">
  <div id="backgroundImage">
  </div>

  <div id="introductions">
    <h1>Hi there</h1>
    <p>I create custom websites for small businesses so they can reach their audience and grow.</p>
    <p>
      Read more in <a href="/blog">my blog</a> or checkout some <a target="_blank" href="http://www.nicolasdotto.com">recent projects</a>.
    </p>
  </div>
</section>

<section class="recent-posts" id="recent-posts">
  <div class="posts">
    <h1><%= link_to 'Recent </br>Articles', 'blog/' %></h1>
    <% blog.articles[0...3].each do |article| %>
      <div class="article-post">
          <h4 class="article-date"><%= article.date.strftime('%b %e') %></h4>
          <% if article.data['category'] != nil %>
          <h4 class="article-category">| <%= link_to article.data['category'], category_path(article.data['category']) %></h4>
          <% end %>
          <h2 class="article-title"><%= link_to article.title, article %></h2>
          <% if article.data['summary'] != nil %>
            <p class="article-summary"><%= article.data['summary'] %></p>
            <%= link_to 'Read', article, class: 'read-more' %>
          <% end %>
        </div>
      <% end %>
  </div>
</section>

<section class="contact">
  <div class="contact-form">
    <form id="contact" action="//formspree.io/connect@nicolasdotto.com" method="POST">
      <h1>Get in Touch</h1>
        <input type="text" name="name" placeholder="Your name">
        <input type="email" name="_replyto" placeholder="Your email">
        <input type="tel" name="telephone" placeholder="Your phone number">
        <textarea name="message" rows="5" placeholder="Your message"></textarea>
        <button type="submit" value="Send">Send</button>
        <input type="hidden" name="_subject" value="nicolasdotto.com Contact" />
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_next" value="/thankyou" />
    </form>
  </div>
</section>

