<div class="item trigger" data-category="<%= card.selector %>" data-modal-title="<%= modal.title %>" data-modal-img-banner="<%= modal.img_banner %>" data-modal-description-title-left-1="<%= modal.description.title_left_1 %>" data-modal-description-text-left-1="<%= modal.description.text_left_1 %>" data-modal-description-title-left-2="<%= modal.description.title_left_2 %>" data-modal-description-text-left-2="<%= modal.description.text_left_2 %>" >
 <%= image_tag card.image %>
</div>
