<div class="hover-tile-outer trigger <%= card.selector %> all" data-modal-title="<%= modal.title %>" data-modal-img-banner="<%= modal.img_banner %>" data-modal-description-title-left-1="<%= modal.description.title_left_1 %>" data-modal-description-text-left-1="<%= modal.description.text_left_1 %>" data-modal-description-title-left-2="<%= modal.description.title_left_2 %>" data-modal-description-text-left-2="<%= modal.description.text_left_2 %>" style="background-image: url('<%= image_path(card.image)%>');">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible"></div>
      <div class="hover-tile hover-tile-hidden">
        <h4><%= title %></h4>
        <p><%= modal.description.text_left_1%></p>
      </div>
    </div>
</div>

<!-- card-filter.js -->

<!-- <div class="hover-tile-outer trigger" data-category="<%= details.card.selector %>" data-modal-title="<%= details.modal.title %>" data-modal-img-banner="<%= details.modal.img_banner %>" data-modal-description-title-left-1="<%= details.modal.description.title_left_1 %>" data-modal-description-text-left-1="<%= details.modal.description.text_left_1 %>" data-modal-description-title-left-2="<%= details.modal.description.title_left_2 %>" data-modal-description-text-left-2="<%= details.modal.description.text_left_2 %>" style="background-image: url('<%= image_path(details.card.image)%>');">
  <div class="hover-tile-container">
    <div class="hover-tile hover-tile-visible"></div>
    <div class="hover-tile hover-tile-hidden">
      <h4><%= project %></h4>
      <p><%= details.modal.description.text_left_1%></p>
    </div>
  </div>
</div> -->

<!-- basic version partial (& no partial)-->

<!-- <div class="hover-tile-outer trigger" data-category="<%= card.selector %>" style="background-image: url('<%= image_path(card.image)%>');">
<div class="hover-tile-container">
  <div class="hover-tile hover-tile-visible"></div>
  <div class="hover-tile hover-tile-hidden">
    <h4><%= title %></h4>
    <p><%= modal.description.text_left_1%></p>
  </div>
</div>
</div> -->

<!-- <div class="hover-tile-outer trigger" data-category="<%= details.card.selector %>" style="background-image: url('<%= image_path(details.card.image)%>');">
  <div class="hover-tile-container">
    <div class="hover-tile hover-tile-visible"></div>
    <div class="hover-tile hover-tile-hidden">
      <h4><%= project %></h4>
      <p><%= details.modal.description.text_left_1%></p>
    </div>
  </div>
</div> -->


